$control-height: 2rem;

// Standardizes control styling across elements
@mixin control {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: $control-height;
  font-size: px-rem(16px);
  line-height: baseline-scale(3);
  padding: px-rem(4px) px-rem(8px);

  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}