$control-height: baseline-scale(5);

// Standardizes control styling across elements
@mixin control {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: $control-height;
  font-size: px-rem(16px);
  line-height: $control-height;
  // padding: $space-s;
  padding: 0 $space-s;

  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}