// Color
// Primary
$teal-050: #EFFCF6;
$teal-100: #C6F7E2;
$teal-200: #8EEDC7;
$teal-300: #65D6AD;
$teal-400: #3EBD93;
$teal-500: #27AB83;
$teal-600: #199473;
$teal-700: #147D64;
$teal-800: #0C6B58;
$teal-900: #014D40;

// Neutrals
$blue-grey-025: hsl(210, 37.2%, 98%);
$blue-grey-050: #F0F4F8;
$blue-grey-100: #D9E2EC;
$blue-grey-200: #BCCCDC;
$blue-grey-300: #9FB3C8;
$blue-grey-400: #829AB1;
$blue-grey-500: #627D98;
$blue-grey-600: #486581;
$blue-grey-700: #334E68;
$blue-grey-800: #243B53;
$blue-grey-900: #102A43;

$grey-050: hsl(0, 0%, 92.2%);
$grey-500: hsl(216, 5%, 50%);
$grey-600: hsl(216, 5%, 40%);
$grey-700: hsl(217.6, 13.1%, 19.5%);
$grey-750: hsl(217.6, 13.1%, 16%);
$grey-800: hsl(216, 13.8%, 14.5%);
$grey-900: hsl(214.3, 14%, 10%);
$white: #ffffff;

// Semantic Colors
$text-light:  $blue-grey-800;
$background-light: $blue-grey-050;

$text-dark: $blue-grey-050;
$background-dark: $blue-grey-900;
$muted: $grey-600;

$primary: $teal-700;

$border-color: $blue-grey-200;


// Spacing
//
// Sizes based off the 8pt grid
//
//  xxs     2px     0.125rem
//  xs      4px     0.125rem
//  s       8px     0.5rem
//  m       16px    1rem
//  l       32px    2rem
//  xl      64px    4rem
//  xxl     128px   8rem

$space-xxs: 0.125rem;
$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;
$space-xl: 4rem;
$space-xxl: 8rem;


// Radii
$radius-small: 3px;
$radius: 6px;

// Shadows
$box-shadow: 0 30px 60px -12px rgba($blue-grey-700, 0.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);

// Responsive Sizes
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px;
$desktop: 960px;
$widescreen: 1152px;
$fullhd: 1344px;

// Animation
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.45, 1);
$ease-default:  cubic-bezier(0.25, 0.1, 0.25, 1);

// App Specific Variables
$app-nav-bar-mobile-height: 2.75rem;
$app-nav-title-mobile-height: 2.8125rem;

$app-tab-bar-mobile-height: 3.125rem;

$app-padding-mobile-top: calc(5.5625rem + env(safe-area-inset-top));
$app-padding-mobile-bottom: calc(3.125rem + env(safe-area-inset-bottom));