$button-border-width: px-rem(1px);
$button-padding-vertical: calc(0.375em - #{$button-border-width});
$button-padding-horizontal: 0.75em;

.t-button {
  border-radius: $radius;
  background: $blue-grey-100;
  @include control();
  font-size: px-rem(18px);
  font-weight: normal;
  padding: $button-padding-vertical $button-padding-horizontal;
  line-height: 1em;
  border: $button-border-width solid $blue-grey-100;
  &:hover {
    background: $blue-grey-200;
  }

  &.is-primary {
    background: $teal-200;
    color: $teal-900;

    &:hover {
      background: $teal-300;
    }
  }
  &.is-secondary {
    background: transparent;
    border-color: $blue-grey-100;
  }
  &.is-tertiary {
    background: transparent;
    border-color: transparent;
  }
  &.is-fullwidth {
    width: 100%;
  }
  &.has-icon {
    padding-left: $space-xs;
    padding-right: $space-m;
  }
}

.t-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .t-button {
    &:not(:last-child):not(.is-fullwidth) {
      margin-right: 0.5rem;
    }
  }
}