/*
  TYPE SCALE VALUES:
  1     0.75rem      12px
  2     0.875rem     14px
  3     1rem         16px
  4     1.125rem     18px
  5     1.25rem      20px
  6     1.5rem       24px
  7     1.75rem      28px
  8     2rem         32px
  9     2.25rem      36px
  10    2.625rem     42px
  11    3rem         48px
  12    3.375rem     54px
  13    3.75rem      60px
  14    4.25rem      68px
  15    4.75rem      76px
  16    5.25rem      84px
  17    5.75rem      92px
*/

.t-large-title {
  font-weight: normal;
  font-size: px-rem(22px);
  letter-spacing: -0.01em;
  &.is-bold {
    font-weight: bold;
  }
}
.t-title-1 {
  font-size: px-rem(19px);
  font-weight: 500;
}
.t-title-2 {
  font-size: px-rem(17px);
  font-weight: normal;
  font-weight: 500;
}
.t-title-3 {
  font-size: px-rem(16px);
  font-weight: 500;
  line-height: baseline-scale(3);
  &.is-bold {
    font-weight: bold;
  }
}
.t-headline {
  font-size: px-rem(17px);
  font-weight: 500;
}
.t-body {
  font-size: px-rem(17px);
}
.t-callout {
  font-size: px-rem(16px);
}
.t-subhead {
  font-size: px-rem(11px);
}
.t-footnote {
  font-size: px-rem(13px);
}
.t-caption-1 {
  font-size: px-rem(12px);
}
.t-caption-2 {
  font-size: px-rem(11px);
}